body{
    background-color: #FFFACD;
}

table, p {
    color:#682C6C;
}

.silk{
    background-color: #D1B4D3;
    border-radius: 5px;
    text-decoration:none;
    border: #D1B4D3 solid 2px;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color:#682C6C;
}
